<h1>Вход в систему</h1>

<% 
error_desc = {}
unless flash[:error].nil?
  error_desc[:login] = 'ошибка в имени пользователя или пароле'
  error_desc[:password] = 'введите их еще раз'
end 
%>

<% dived_form_for :session, :url => {:action => 'create'} do |f| %>
  <%= f.text_field_for :login, :param_name => 'login',
                       :label => 'Имя пользователя',
                       :bottom => 'то имя, что Вы указали при регистрации',
		       :default => @login,
		       :error => error_desc[:login] %>
  <%= f.password_field_for :password, :param_name => 'password',
                           :label => 'Пароль',
                           :bottom => 'тот пароль, что Вы указали при регистрации',
			   :error => error_desc[:password] %>
  <%= f.check_box_for :not_my_computer, :label => 'чужой компьютер',
                                        :param_name => 'not_my_computer',
					:default => (@not_my_computer == '1') %>
  <%= f.submit_tag 'Войти' %>
<% end %>


