<ul class="actions">
  <li><%= link_to('редактировать заказ', edit_task_path(task), :class => 'edit-task-link') %></li>
  <li><%= link_to('удалить заказ', task_path(task), :class => 'delete delete-task-link') %><li>
</ul>
