<h1>Добавление нового заказа</h1>

<% dived_form_for @task, :html => {:class => 'new-form'} do |f| -%>
  <%= render :partial => 'task_fields', :object => f %>
  <%= f.submit_tag 'Добавить заказ' %>
<% end -%>
