HTML,BODY,DIV,SPAN,APPLET,OBJECT,IFRAME,H1,H2,H3,H4,H5,H6,P,BLOCKQUOTE,PRE,A,ABBR,ACRONYM,ADDRESS,BIG,CITE,CODE,DEL,DFN,EM,FONT,IMG,INS,KBD,Q,S,SAMP,SMALL,STRIKE,STRONG,SUB,SUP,TT,VAR,HR,B,U,I,CENTER,DL,DT,DD,OL,UL,LI,FIELDSET,FORM,LABEL,LEGEND,TABLE,CAPTION,TBODY,TFOOT,THEAD,TR,TH,TD{padding:0;margin:0;border:none;outline:none;vertical-align:baseline;font-family:inherit;font-size:100%;}HTML{font-size:100.01%;}DFN,I,CITE,VAR,ADDRESS,EM{font-style:normal;}TH,B,STRONG,H1,H2,H3,H4,H5,H6{font-weight:normal;}TEXTAREA,INPUT,SELECT{font-family:inherit;font-size:1em;}BLOCKQUOTE,Q{quotes:none;}Q:before,Q:after,BLOCKQUOTE:before,BLOCKQUOTE:after{content:'';content:none;}OL,UL{list-style:none;}INS{text-decoration:none;}DEL{text-decoration:line-through;}TABLE{border-collapse:collapse;border-spacing:0;}CAPTION,TH,TD{text-align:left;}:focus{outline:none;}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font-size: 0.9em;
  min-width: 770px; // for all browsers except ie
}

// body min-width for ie only
* html .minwidth {
  border-left: 770px solid #fff; // min-width
  position: relative;
  float: left;
  z-index: 1;
}
* html .container {
  margin-left: -770px; // -min-width
  position: relative;
  float: left;
  z-index: 2;
}

body,p,textarea,input,select {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}

#top {
  background-color: #7bad00;
  height: 2em;
}
#top span {
  margin-left: 1em;
  text-transform: uppercase;
  color: #d5ea9b;
  font-size: 1.5em;
}
#ads,
#about,
#left,
#right,
#catalog {
  margin-top: 0.3em;
}

#ads-about {
  overflow: hidden;
}
#ads,
#about {
  padding-bottom: 32767px;
  margin-bottom: -32767px;
}

#ads div,
#ads ol li span,
#ads ol li a,
#ads a,
#about p {
  font-size: 0.9em;
}

#ads,
#left {
  margin-left: 0.3em;
  margin-right: 13.7em;
}

#ads ol {
  margin: 0;
  padding: 0.25em 0.25em 0 0.25em;
  list-style-type: none;
}
#ads ol li {
  margin: 0.15em;
}
#ads ol li a {
  text-transform: uppercase;
}

#about,
#right {
  float: right;
  width: 12em;
  margin-right: 0.3em;
}

#ads ol li,
#ads a {
  line-height: 0.8em;
}

#ads div,
#about p {
  line-height: 0.9em;
  padding: 0.5em 1em 0.5em 1em;
}

#menu {
  padding: 0.5em;
  text-align: center;
}
#menu ul li {
  display: inline;
  margin: 0 1em;
  font-size: 1.2em;
}


#catalog {
  float: left;
  width: 11em;
  margin-bottom: 0.25em;
  clear: left;
}

#main {
  margin-left: 11.5em;
  padding: 0.5em 1em;
}

#bottom {
  background-color: #7bad00;
  clear: left;
}

#ads,
#right,
#catalog {
  background-color: #eef2e3;
}
#about,
#menu {
  background-color: #d5ea9b;
}
#ads a {
  color: #7bad00;
}
h1,
#about a,
#menu a,
#catalog dt a,
#catalog h3,
#main form div label,
#main form div p span.text,
#main form div input.button,
#main form div.checkbox-div span,
#main form div.radio-button-div span,
#main form div.select-div select,
#main form div.upload-div input,
#right dl dt,
#right span {
  color: #095e00;
}

#right address a {
  color: #333;
}
#right address,
#catalog dl dd a {
  color: #666;
}

#catalog {
  padding: 0.3em;
}
#catalog form input.button {
  padding: 0;
}
#catalog form input.search-field {
  width: 6em;
}
#catalog h3,
#catalog dl {
  font-size: 1em;
}
#catalog h3 {
  margin: 0 0 0.3em 0;
}
#catalog dl {
  margin: 0.3em 0 0 0;
}
#catalog dt a {
  font-weight: bold;
}
#catalog dt a:hover {
  background-color: #7bad00;
  color: #fff;
  text-decoration: none;
}
#catalog dd {
  margin-left: 0.3em;
}
#catalog dd a,
#catalog em {
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
#catalog dd a:hover {
  background-color: #444;
  color: #fff;
  text-decoration: none;
}
#catalog em {
  font-style: normal;
}

h1 {
  margin: 0.2em 0 0 0;
  padding: 0;  
  font-size: 1.5em;
}
#main FORM.new-form {
      margin-top: 1em;
      }
#main form div label {
  float: left;
  width: 7.5em;
  text-align: right;
  margin: 0.5em 0.2em 0 0;
}
#main form input.text-field,
#main form input.error-field,
#main form input.button,
#main form textarea {
  font-size: 1.5em;
}
#main form textarea {
  width: 100%;
  height: 10em;
}
#main form input.text-field,
#main form input.error-field {
  width: 100%;
}
#main form .text-field {
  padding: 0.1em;
  display: block;
  border: 2px #d5ea9b solid;
}
#main form .error-field {
  padding: 0.1em;
  display: block;
  border: 2px #f00 solid;
}
#main form div p {
  margin: 0 0 0.5em 7.75em;
}
#main form div p span,
#main form div.checkbox-div span,
#main form div.radio-button-div span {
  font-size: 0.9em;
}
#main form div p span.error {
  color: #f00;
  font-weight: bold;
}
#main form div label span {
  font-size: 0.9em;
  font-weight: bold;
}
#main form div input.button {
  margin-top: 0.6em;
  margin-left: 5.15em;
  background-color: #eef2e3;
  border-color: #eef2e3;
}
#main form div.checkbox-div,
#main form div.radio-button-div {
  padding-left: 7.5em;
}
#main form div.checkbox-div,
#main form div.radio-button-div,
#main form div.select-div {
  margin-bottom: 0.5em;
}
#main form div.checkbox-div span,
#main form div.radio-button-div span {
  font-weight: bold;
}
#main form div.radio-button-div input {
  margin-bottom: -0.1em;
}
#main form div.radio-button-div ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main form div.select-div option.section {
  font-weight: bold;
}
#main form div.select-div option.category {
  padding-left: 2em;
}
#main form div.select-div select {
  font-size: 1.2em;
  width: 18em;
}
#main form div.upload-div input {
  font-size: 1.13em;
}

#right {
  padding: 0.5em;
}
#right dl {
  margin: 0.5em 0 0 0;
  font-size: 1em;
}
#right dl dt {
  font-weight: bold;
}
#right span {
  font-size: 0.8em;
}
#right address {
  font-style: normal;
  margin: 0;
}
#right dl dd {
          margin-top: 0.4em;
          margin-bottom: 0.4em;
          }
          #right dl dd a {
                       font-size: 0.95em;
                       }
#right dd {
  margin-left: 0.6em;
}

#right a {
  color: #00f;
}
#right p.bottom-para {
  text-align: right;
  margin-right: 0.95em;
}
#right p label {
  color: #095e00;
  font-weight: bold;
  font-size: 0.9em;
}
#right P LABEL.field-label {
         display: block;
         }
#right p input.input-field {
  width: 90%;
  margin: 0.1em 0.1em 0.2em 0.4em;
  padding: 0.2em;
}

A.user-link,
#logout-link,
#messages-link,
A.send-message-link,
A.edit-task-link,
A.delete-task-link,
#new-task-link,
#my-tasks-link,
#assigned-tasks-link,
#new-article-link,
#my-articles-link,
#deposit-link,
#withdraw-link,
#edit-profile-link,
#portfolio-link,
A.propositions-link,
a.proposition,
A.select-proposition {
  background-position: center left;
  background-repeat: no-repeat;
}
#logout-link,
#messages-link,
A.send-message-link,
A.edit-task-link,
#new-task-link,
#my-tasks-link,
#assigned-tasks-link,
#new-article-link,
#my-articles-link,
#deposit-link,
#withdraw-link,
#edit-profile-link,
#portfolio-link,
A.propositions-link,
a.proposition,
A.select-proposition {
  padding-left: 20px;
}
a.user-link {
  background-image: url(/images/user.png);
  color: #000;
  padding-left: 17px;
}
#main table.users a.user-link {
  display: block;
}
#logout-link {
  background-image: url(/images/door__arrow.png);
}
#messages-link {
  background-image: url(/images/mails.png);
}
A.send-message-link {
  background-image: url(/images/mail.png);
}
#new-task-link {
  background-image: url(/images/table__plus.png);
}
#my-tasks-link {
  background-image: url(/images/tables.png);
}
#assigned-tasks-link {
  background-image: url(/images/tables_pencil.png);
}
A.edit-task-link {
  background-image: url(/images/table__pencil.png);
}
A.delete-task-link {
  background-image: url(/images/slash.png);
  padding-left: 17px;
}
#new-article-link {
  background-image: url(/images/document__plus.png);
}
#my-articles-link {
  background-image: url(/images/documents.png);
}
#deposit-link {
  background-image: url(/images/safe.png);
}
#withdraw-link {
  background-image: url(/images/trophy_arrow.png);
}
#edit-profile-link {
  background-image: url(/images/wrench_screwdriver.png);
}
#portfolio-link {
  background-image: url(/images/database.png);
}
#main a.proposition {
  background-image: url(/images/balloon.png);
}
#main a.propositions-link {
  background-image: url(/images/balloons.png);
}
#main A.select-proposition {
  background-image: url(/images/auction_hammer_gavel.png);
}

#main a.proposition {
  color: #00f;
}

#main table.users {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#main div.pagination {
  text-align: center;
}
#main table.users td.user-login {
  width: 5em;
  text-align: left;
}
#main table.users td {
  vertical-align: middle;
  padding: 0.25em 0;
}
#main table.users td,
#main table.users th {
  text-align: center;
}
#main table.users TR.even TD {
                          background-color: #eee;
                          color: #7bad00;
                          }
#main table.users TR.even A.user-link {
                          color: #7bad00;
                          }
#main table.users TR.odd TD {
                         background-color: #ddd;
                         }
#main table.users TR.odd A.user-link {
                         color: #000;
                         }
#main table.users i {
  font-style: normal;
  color: green; 
}
#main table.users b {
  font-weight: normal;
  color: red;
}
// <wbr> in Opera fix
wbr:after { content: "\00200B" }

#main #proposition-dialog {
      display: none;
      background-color: #d5ea9b;
      padding: 1em;
      }

#main I {
      color: #095e00;
      }
#main A {
      color: #00f;
      }

body div#heroku_toolbar {
  display: none;
}

#main #free-tasks {
                margin-top: 1em;
                }
                #main P.about,
                #main #propositions LI.proposition,
                #main P.no-tasks,
                #main #my-tasks LI.task,
                #main #free-tasks LI.task {
                                  margin-bottom: 1em;
                                  background-color: #f4f4f4;
                                  padding: 0.75em;
                                  }
                                  P.about-task {
				  color: #095e00;
				  }
                                  P.about-task STRONG {
                                               font-weight: bold;
                                               }
                                  #main #my-tasks LI H2,
                                  #main #free-tasks LI H2 {
                                                       color: orange;
						       font-weight: bold;
                                                       }
                                  #main #free-tasks LI B.proposition-success,
                                  #main #free-tasks LI B.proposition-error {
                                                       margin-left: 1em;
                                                       }
                                  #main #propositions LI P.proposition-sender STRONG,
                                  #main #free-tasks LI B.proposition-success {
                                                       background-color: yellow;
                                                       color: #444;
                                                       }
                                  #main #free-tasks LI B.proposition-error {
                                                       background-color: #f4a460;
                                                       color: white;
                                                       }

#main #propositions {
      margin-top: 1em;
      }
      #main #propositions LI P.proposition-sender {
                             color: #095e00;
                             }
      #main #propositions LI P.proposition-body {
                             margin: 0.5em 0;
                             }
#main .actions LI {
               display: inline;
               margin-right: 10px;
               }
