<% @title = 'Регистрация пользователя' %>

<h1>Регистрация нового пользователя</h1>

<% @user.password = @user.password_confirmation = nil %>

<% dived_form_for @user, :html => {:class => 'new-form'} do |f| %>
  <%= f.text_field_for(:login, :label => 'Имя', 
                               :bottom => 'от 3-х до 40-ка латинских букв или цифр') %>
  <%= render :partial => 'fields', :locals => {:f => f} %>
  <%= f.submit_tag 'Зарегистрироваться' %>
<% end %>
