<% @title = 'Статьи по теме "' + @category.name + '"' %>

<h1>Статьи на продажу из раздела каталога "<%= @category.name %>"</h1>

<% if @articles.blank? %>
  <p class="about">Копирайтеры еще не добавили ни одной статьи на продажу в этот раздел каталога.</p>
<% else %>
  <table class="articles">
  <thead><tr>
  <% Article::COLUMNS[:category].each do |column, link_text| %>
      <th>
        <%= sort_link(@order, @dir, column, link_text) %>
      </th>
  <% end %>
  </tr><thead>
  <tbody>
  <% @articles.each do |article| %>
    <%= render :partial => 'article_user_row', :locals => {:article => article} %>
  <% end %>
  </tbody>
  </table>
  <%= will_paginate(@articles, :previous_label => 'Предыдущая страница', :next_label => 'Следующая страница')%>
<% end %>
